.box {
  width: 100px;
  height: 100px;
  text-align: center;
  color: white;
  border: 2px solid black;
  margin: 10px;
}

.a {
  background-color: yellowgreen;
}

.b {
  background-color: violet;
}

.c {
  background: cornflowerblue;
}

.d {
  background-color: tomato;
}
.e {
  background-color: orange;
}
.f {
  background-color: tan;
}
